body {
    background-image: url("../static/img/stonk.jpg");
    background-repeat:no-repeat;
    background-position:left top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

div {
    background-color: #ffffff;
  }
