body {
    background-image: url("/static/img/purchase.png");
    max-width: 100%;
    height: auto;
    background-repeat:no-repeat;
    background-position:left top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}