@import url('https://fonts.googleapis.com/css?family=Oxygen|Raleway');
body{
    background-image: url("../static/img/verger.png");
    margin: 0;
    padding: 0;
    background-repeat:no-repeat;
    background-position:left top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

body .header{
    background: rgb(0, 0, 0);
    display: flex;
}

body .header img{
    width: 4%;
    height: 4%;
}

body .header ul {
    text-align: right;
    margin-left: 70%;
}

body .header .button-group li{
    display: inline-block;
}
body .header li a{
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: #ffffff;
    font-size: 30pt;
    width: 60px;
    height: 60px;
    display: inline-block;    
}
body h1{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(179, 21, 21);
    color: rgb(255, 255, 255);
}
#Mentions {
    background-color: wheat;
    position: fixed;
    bottom : 0px;
}

span {
    background-color: #000000;
  }

#user_state {color: rgb(255, 255, 255);
}
