<!doctype html>
<html lang="fr">
        <link rel="stylesheet" href="../static/style.css" type="text/css">
        <meta charset="utf-8">
        <script>src="script-site.js"</script>
    <title>La pomme</title>

    <head>
        <p> <strong>Bienvenue sur le site officiel de la pomme pas croquée! ☻☻</strong> </p>
        <figure>
            <img src="../static/img/pomme.png" , width="100px"/>
            <figcaption>The pomme</figcaption>
        </figure>
    </head>

    <body>
        <h1 id="menu">
                <a href="../templates/login.html">deviens membre de la team des pomme<button><i class="fa fa-sign-in" aria-hidden="true"></i></button></a>
                <a href="../templates/electromenager.html"> <button>Smartphones</button></a>
                <a href="../templates/audio.html"><i class="fa fa-headphones" aria-hidden="true"></i><button>Montres</button></a>
        </h1>


    </body>

    
</html>
