<!doctype html>
<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scaled=1.0">
        <title>C'est un site de vente mais on ne sait pas encore de quoi.</title>
        <link rel="stylesheet" type="text/css" href="../static/pageConnexion.css">
    </head>
    <body>
        <section>
            <div class="container">
                <div class="user signinBx">
                    <div class="imgBx"><img src="../static/img/login.png"></div>
                    <div class="formBx">
                        <form>
                            <h2>Sign In</h2>
                            <input type="text" placeholder="Username">
                            <input type="password" placeholder="Password">
                            <input type="submit" value="Login">
                            <p class="signup">Vous n'avez pas encore de compte? <a href="#" onclick="toggleForm();">Sign up.</a></p>
                        </form>
                    </div>
                </div>
                <div class="user signupBx">
                    <div class="formBx">
                        <form>
                            <h2>Créer un compte</h2>
                            <input type="text" placeholder="Username">
                            <input type="text" placeholder="Email Address">
                            <input type="password" placeholder="Password">
                            <input type="password" placeholder="Confirm Password">
                            <input type="submit" value="Sign Up">
                            <p class="signup">Vous avez déja un compte? <a href="#" onclick="toggleForm();">Sign In</a></p>
                        </form>
                    </div>
                    <div class="imgBx"><img src="../static/img/rêve.jpg"></div>
                </div>
            </div>
        </section>
        <script>
            function toggleForm(){
                section = document.querySelector('section');
                container = document.querySelector('.container');
                container.classList.toggle('active');
                section.classList.toggle('active');
            }
        </script>
     </body>
</html>