<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/static/redirection.css" href="/static/redirection.js">
    <title>inscription</title>

    <h1 class="message_redirection">{{ nm }} {{ msg }}</h1>

 <a  href ="/connecter"> <button> <h1>retourner sur la page principale</h1> </button> </a>

  
</head>
<body>
    <script 
    src="/static/redirection.js" >    
    </script>
   

    </table>
</body>
</html>